.SideBar
 .SideBar__Header
  .SideBar__Header__Box
   .SideBar__Header__Box__Name
    なまえ
   .SideBar__Header__Box__Icon
    = link_to "#", class: "SideBar__Header__Box__Icon__Btn1" do
     = icon('fas', 'edit')
    = link_to "#", class: "SideBar__Header__Box__Icon__Btn2" do
     = icon('fas', 'cog')
   
 .SideBar__Body
  .SideBar__Body__GroupName
   こんにちは
  .SideBar__Body__GroupMessage
   寒い
