.SideBar{
  width:300px;
  float: left;

&__Header{
   background-color:#253141;
   height:100px;
   display: flex;
   align-items: center;
   padding-right: 20px;
   padding-left: 20px;
  &__Box{
      background-color:#253141;
      width:260px;
      height:20px;
      display: flex; 
      justify-content: space-between;

   &__Name{
           width:80px;
           background-color:#253141;
           font-weight: bold;
           color:white;
   }
      
   &__Icon{
     width:60px;
      background-color:#253141;
      text-align: right;
    &__Btn1{
      color:#ffffff;
      display: inline-block;
      text-decoration: none;
    }
    &__Btn2{
       color:#ffffff;
       display: inline-block;
       text-decoration: none;
       margin-left: 5px;
       
    }
   }
  }
}
&__Body{
   background-color:#2f3e51;
   height:calc(100vh - 100px);
   
   &__GroupName{
       height:17px;
       width: 260px;
       font-size: 15px;
       position: relative;
       top:20px;
       left:20px;
       background-color:#2f3e51;
       color: white;
       
   }
   &__GroupMessage{
       height:13px;
       width:260px;
       font-size:11px;
       position: relative;
       top:37px;
       left:20px;
       background-color:#2f3e51;
       color:white;

   }
}
}